@import '../../styles/colors';

@mixin fill-screen() {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

html,
body {
    @include fill-screen();
}

.page-login {
    @include fill-screen();
    text-align: center;

    font-size: 18px;

    &.create-user {
        background-color: $fb-yellow;
    }
    &.log-in {
        background-color: $fb-red;
    }

    form {
        max-width: 250px;
        margin: auto;
        padding-top: 50px;

        text-align: left;

        .auth-input {
            margin-top: 10px;
            > label {
                width: 100%;
            }
            > input {
                margin: 6px 0;
                width: 100%;
            }
        }
    }

    button {
        margin: 20px auto;
    }
}